body {
    margin-top: 50px;
}

.image {
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px; /* Ajuste del margen */
    margin-bottom: 20px;
}

.image img {
    display: block;
    border-radius: 50%;
}

.contact {
    display: flex;
    border: solid 1px grey;
    margin-bottom: 10px; /* Ajuste del margen inferior */
    padding: 20px;
}

.information {
    flex-grow: 1; /* Ocupar el espacio disponible */
    margin-right: 20px; /* Ajuste del margen derecho */
}

.editContact {
    display: flex;
    align-items: center;
}

.editContact button {
    margin-right: 10px; /* Ajuste del margen entre los botones */
}

.addContact {
    margin-left: auto; /* Mover a la derecha, ajuste de margen izquierdo */
    margin-bottom: 20px; /* Ajuste del margen inferior */
}

button {
    background-color: white;
    border: none;
}
